{% set wrapper_attributes = create_attribute(wrapper_attributes) %}
{% set slide_attributes = create_attribute(slide_attributes) %}

<div{{ attributes }}>
  <div{{ wrapper_attributes }}>
    {% for item in items %}
      <div{{ slide_attributes }}>{{ item }}</div>
    {% endfor %}
  </div>

  {% if settings.pagination %}
    <div class="swiper-pagination"></div>
  {% endif %}

  {% if settings.button %}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  {% endif %}

  {% if settings.scrollbar %}
    <div class="swiper-scrollbar"></div>
  {% endif %}
</div>
